{% assign current_url = page.url %}
{% assign count = 0 %}

<div class="flex flex-col space-y-3">
    <h3 class="text-xl font-bold">Related Posts</h3>
    {% for post in site.posts %}
        {% if post.url != current_url %}
            {% if count < 3 %}
                <!-- 여기에 관련 포스트를 출력하는 코드를 작성합니다. 예: -->
                <a href="{{ post.url | prepend: site.baseurl }}" class="border text-sm rounded-lg p-2 px-3 hover:border-green-800 w-full">
                    {{ post.title | truncate: 50}}
                    <time datetime="{{ post.date | date_to_xmlschema }}" class="time"><i class="far fa-calendar-alt px-1"></i>{{ post.date | date_to_string }}</time>
                    <span><i class="far fa-clock px-1"></i> {% if post.content.size < 360 %}1{% else %}{{ post.content.size | divided_by:1800 }}{% endif %} min</span>
                </a>
            {% assign count = count | plus: 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
</div>