---
layout: default
---

<article class="m-1">

    <h1 class="text-2xl font-bold mb-1">{{ page.title }}</h1>
    <div class="mb-2"> {% include post-meta.html %} </div>
    <hr>
    <div class="m-2">
        {{ content }}
    </div>

</article>

<hr>
<div class="mb-3 mt-3">
    {% include post-move.html %} 
</div>
<hr>
<div class="mb-3 mt-3">
    {% include post-related.html %} 
</div>

<script src="https://giscus.app/client.js"
        data-repo="devcow85/blog-comments"
        data-repo-id="R_kgDOL015UQ"
        data-category="General"
        data-category-id="DIC_kwDOL015Uc4CfBp2"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>